.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
.vscode/*
/Processing/IndoorTracking/data/*
/Python/.vs/*
/Motion Capture/tcpIpConnectTest/.vs/*
*.pyproj
Motion Capture/tcpIpConnectTest/.vs/tcpIpConnectTest/v15/.suo
Motion Capture/tcpIpConnectTest/.vs/tcpIpConnectTest/v15/.suo
Motion Capture/tcpIpConnectTest/.vs/tcpIpConnectTest/v15/.suo
